
{% extends 'homebase.html' %}  <!-- homebase.html bağlı olarak çalışacağım.. -->
{% load static %}
{% block title %} {{ setting.title }}{% endblock title %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block description %} {{ setting.description }} {% endblock %}



{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />

{% endblock %}

{% block sidebar%}

    {% include 'sidebar.html' %}
{% endblock %}



{% block slider %}
    {% include 'slider.html' %}
{% endblock %}


{% block body %}
    {% include 'content.html' %}
{% endblock %}